@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


:root{
  --background: #eeeeee;
  --text: rgb(51, 51, 51);
}
#nameEntry {
  display: flex;
  flex-direction: column;
}

/*General Style*/

a {
  text-decoration: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #eeeeee;
  min-width: 1000px;
  width: auto !important;
}

td {
  text-align: center;
}

th {
  background-color: #FFA000;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

/*container div styles*/

#homeScreenDiv {
  margin-top: 10em;
}

.cards {
  display: flex;
  align-items: center;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.spaceAroundContainer {
  display: flex;
  justify-content: space-around;
}

.paperName {
  width: 20em;
  height: 5em;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1em;
  font-size: 2.5em;
}

#navRight {
  display: flex;
  height: 5em;
  width: 20em;
  justify-content: center;
  align-items: flex-end;
}

#navAligner {
  display: flex;
  height: 5em;
  width: 7em;
  justify-content: center;
  align-items: flex-end;
}

#tutorialNav {
  margin-top: 2em;
  width: 7em;
  height: 40em;
  display: flex;
  flex-direction: column;
  margin-left: .8em;
  align-items: center;
  animation-name: slideRight;
  animation-duration: .5s;
}

/*button styles*/

/*headers*/

.feltHeaders {
  display: flex;
  width: 20em;
  justify-content: center;
  text-align: center;
  margin-top: 0em;
}


/*tweaks*/

.addTop {
  margin-top: 5em;
}

.fiftyWidth {
  width: 18em;
}

.eightyWidth {
  width: 60em;
}

.center {
  align-items: center;
}

#start {
  align-items: flex-start;
}

.makeColumn {
  flex-direction: column;
}

.giveMargin {
  margin: 1em;
}

.halfFelt {
  height: 25em;
  width: 25em;
}

.felt {
  height: 45em;
  width: 70em;
  animation-name: fade;
  animation-duration: 2s;
}
.newScreen {
  animation-name: fade;
  animation-duration: 2s;
}
/*animations*/

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes deal {
  from {
    margin-left: 150%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes grow {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}

/*graphics*/


/*** cards ***/
.playingCard {
  margin-right: .5em;
  width: 6em;
  height: 8em;
  background-color: rgb(253, 251, 244);
  border-radius: .5em;
  box-shadow: .2em .2em .15em .15em black;
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.cardAnimation {
  animation-delay: 0;
  animation-duration: .5s;
  animation-name: deal;
}

.cardTop {
  display: flex;
  justify-items: left;
  align-items: left;
  font-weight: bold;
  font-size: 1.5em;
}

.cardMiddle {
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-items: center;
  flex-grow: 3;
  flex-basis: 1;
}

.backOfCard {
  margin: .13em;
  width: 5.6em;
  height: 7.6em;
  background-color: rgb(255, 216, 148);
  border: .1em solid rgb(131, 84, 2);
  border-radius: .5em;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2em;
  border: .1em solid #cfcfcf;
  border-radius: .5em;
  height: 7em;
  width: 5em;
  background-color: rgb(109, 75, 16)
}

/*** players ***/

.person {
  margin-right: .5em;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: rgb(145, 109, 69);
}

.playerOne {
  margin: 1em;
  animation-name: grow;
  animation-duration: 1s;
  animation-delay: .5s;
}

.playerTwo {
  margin: 1em;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-delay: .5s;
}

.playerThree {
  margin: 1em;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.playerFour {
  margin: 1em;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-delay: 2s;
}

.playerFive {
  margin: 1em;
  animation-name: grow;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
}

.eyes {
  display: flex;
}

.leftEye {
  position: relative;
  top: 20px;
  left: 20px;
  height: 20px;
  width: 20px;
  background-color: rgb(228, 255, 255);
  border-radius: 20px;
  margin: 0;
}

.nose {
  position: relative;
  top: 20px;
  left: 43px;
  height: 5px;
  width: 5px;
  background-color: rgb(253, 37, 37);
  border-radius: 5px;
  margin: 0;
}

.mouth {
  position: relative;
  top: 30px;
  left: 40px;
  height: 5px;
  width: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: 0;
}

.pupil {
  position: relative;
  top: 5px;
  left: 5px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: black;
}

.rightEye {
  position: relative;
  top: 20px;
  left: 25px;
  height: 18px;
  width: 18px;
  background-color: rgb(228, 255, 255);
  border-radius: 10px;
  margin: 0;
}

.containerCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


#tutorialScreen {
  display: flex;
}

.turnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.alternate1 {
  position: relative;
  right: 1em;
}

.alternate2 {
  position: relative;
  right: 1em;
}

.tutorialHeader {
  animation-name: slide;
  animation-duration: .25s;
}

.marginTop {
  margin-top: 1em;
}

.dealInstructionsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dealInstructions {
  margin-top: 1em;
}


.blink{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite
}

@keyframes blink {
  0% {
    opacity: .5
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: .51
  }
}

.tutorialLink {
  margin: .8em;
  font-size: 2em;
  color: var(--text);
}

.smaller {
  transform: scale(.5)
}

.cardSpacer {
  width: 1.65em;
}

.yellBad {
  visibility: visible;
  color: red;
}
.arrow {
  font-size: 3em;
}

.hideBad {
  visibility: hidden;
}

.discardPile {
  display: flex;

}

.playerHand {
  width: 33em;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1em;
}

.discardAnimation {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 3s;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-items: right;
  flex-basis: 1;
  font-weight: bold;
  font-size: 1.5em;
}

.winnerHolder {
  margin-top: 4em;
  border-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleLogin {
  display: flex;
  background-color: #cfcfcf;
  justify-content: center;
  font-weight: bold;
  height: 3em;
  width: 8em;
  margin-left: 2em;
  margin-top: 1em;
}

.logout {
  background-color: #eeeeee;
  height: 3em;
  width: 8em;
  margin-left: 2em;
  margin-top: 1em;
}

.spacer {
  padding: 1em;
}

.navBar {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 75em;
  height: 5em;
}

.navLinkText {
  display: flex;
  align-self: flex-end;
  margin-left: .8em;
  font-size: 2em;
  color: var(--text)
}

.whoiam > span {
  margin-top: 1em;
  display: flex;
  align-content: center;
  justify-content: center;
}

.radioContainer {
   display: flex;
}

.rowSpacer {
  flex-grow: 3;
}

.homeButton {
  font-family: "Quicksand", sans-serif;
  margin: 1em;
  width: 10em;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  font-size: 1em;
  outline: none;
}

.homeButton:hover {
  background-color: #FFF6E7;
}

.playerNameField {
  font-size: 2em;
  width: 13em;
  height: 2em;
  margin-top: 1em;
}

.editInput {
  font-size: 3em;
}

.editLabel {
  font-size: 3em;
}

.playerSelect {
  width: 20em;
  font-size: 2em;
  background-color: #FAFAFA;
}

.paperContainer {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 15em;
  height: 6em;
  align-items: center;
  background-color: #FAFAFA;
}

.stepperContainer {
  width: 40em;
  margin: auto;
  margin-top: 2em;
}

.radioContainer {
  display: flex;
}

.scoreTable {
  margin: auto;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  width: 20em;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paperH4 {
  margin: 1em;
  font-size: .75em;
}

.stepperButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stepperButton {
  font-family: 'Quicksand',
  sans-serif;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 10em;
  height: 3em;
  border-radius: 1em;
  font-size: 1em;
}

.cardButton {
  height: 1.75em;
  width: 4em;
  font-size: 2em;
  border-color: #FFA000;
  border-radius: .5em;
  margin: .25em;
  outline: none;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)
{
  body {
    align-items: center;
    justify-content: center;
  }

  .paperName {
    margin-top: 4em;
  }

  #navRight {
    height: 10vh;
    width: 70vw;
    font-size: 3em;
    margin-right: 1em;
    justify-content: flex-end;
  }

  .googleLogin {
    height: 2.2em;
    width: 3.2em;
    font-size: 1em;
    background-color: var(--background);
    border: none;
  }

  #navAligner {
    height: 10vh;
    width: 10vw;
    font-size: 4em;
    margin-left: 1em;
  }


  #screen {
    width: 100vw;
    height: 100vh;
  }

  .navBar {
    width: 100vw;
    height: 10vh;
  }

  #tutorialNav {
    margin-top: 2em;
    width: 7em;
    height: 100vh;
  }

  .tutorialLink {
   font-size: 4em;
   margin-top: 1.5em;
   transform: rotate(.75turn)
  }
  
  .stepperButtonContainer {
    margin-top: 1em;
  }

  .stepperButton {
    display: flex;
    text-decoration: none;
    font-size: 3em;
    width: 4em;
    height: 2em;
    border: none;
    background-color: var(--background)
  }

  #learn {
    display: none;
  }

  /*** cards ***/

  .playingCard {
    transform: scale(2)
  }


  .cardTop {
    transform: scale(1)
  }

  .cardMiddle {
    transform: scale(1.5)
  }

  .backOfCard {
   transform: scale(1.5)
  }

  .rectangle {
    transform: scale(1.5)
  }


  .logout {
    font-size: .5em;
  }

  .editInput {
    font-size: 4em;
    width: 10em;
    height: 2em;
  }

  .editLabel {
    font-size: 4em;
  }

  .navLinkText {
    font-size: 1em;
    margin: 0;
    margin-left: .5em;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .rulesHeader {
    align-items: center;
    font-size: 3em;
  }

  .scoreTable {
    margin-top: 3em;
  }

  .mobileCell {
    height: 2em;
    font-size: 2em;
  }

  .paperContainer {
    width: 20em;
    height: 8em;
    font-size: 2em;
  }

  .radioContainer {
    font-size: 1em;
  }

  .radioButton {
    height: 3em;
    width: 3em;
  }

  .phoneTop {
    margin-top: 15em;
  }

  .homeButton {
    display: flex;
    text-decoration: none;
    font-size: 3em;
    width: 4.5em;
    height: 2em;
    border: none;
    background-color: var(--background)
  }

  .playerNameField {
    margin-top: 2.5em;
    height: 2.5em;
    font-size: 3em;
  }

  .addContainer {
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
  }

  .addScore {
    display: flex;
    flex-direction: row;
  }

  .stepper {
    display: none;
  }

  .playerSelect {
    font-size: 3em;
  }

  .numberOfPlayers {
    font-size: 3em;
  }

}