@import url('https://fonts.googleapis.com/css?family=Quicksand');

#nameEntry {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #eeeeee;
}

td {
  text-align: center;
}

th {
  background-color: #FFA000;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

.imageHolder {
  margin-top: 1em;
}

.playingCard {
  margin: auto;
  width: 9.5vw;
  height: 15vh;
  background-color: rgb(253, 251, 244);
  border-radius: .5em;
  box-shadow: .2em .2em .15em .15em black;
  display: flex;
  flex-direction: column;
}

.cardTop {
  display: flex;
  justify-items: left;
  align-items: left;
  font-weight: bold;
  font-size: 1.2em;
}

.cardMiddle {
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-items: center;
  flex-grow: 3;
  flex-basis: 1;
}

.cardSpacer {
  width: 4.2vw;
}

.felt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  border: 3em;
  height: 50vh;
  width: 70vw;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-items: right;
  flex-basis: 1;
  font-weight: bold;
  font-size: 1.2em;
}

.winnerHolder {
  margin-top: 4em;
  border-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeScreenHeader {
  font-size: 10em;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleLogin {
  background-color: #eeeeee;
  height: 3em;
  width: 8em;
  margin-left: 2em;
  margin-top: 1em;
}

.logout {
  background-color: #eeeeee;
  height: 3em;
  width: 8em;
  margin-left: 2em;
  margin-top: 1em;
}

.spacer {
  padding: 1em;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #FFA000;
  width: 98vw;
}

.leftMargin {
  margin-left: 2em;
}

.whoiam > span {
  margin-top: 1em;
  display: flex;
  align-content: center;
  justify-content: center;
}

.radioContainer {
   display: flex;
}

.rulesHeader {

}

.rowSpacer {
  flex-grow: 3;
}

.homeButton {
  font-family: "Quicksand", sans-serif;
  margin: 1em;
  width: 10em;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  font-size: 1em;
}

.homeButton:hover {
  background-color: #FFF6E7;
}

.playerNameField {
  font-size: 2em;
  width: 40vw;
  height: 8vh;
  margin-top: 1em;
}

.editInput {
  font-size: 3em;
}

.editLabel {
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerSelect {
  width: 50vw;
  font-size: 2em;
  background-color: #FAFAFA;
}

.paperContainer {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 15em;
  height: 6em;
  align-items: center;
  background-color: #FAFAFA;
}

.containerRow {
  display: flex;
}

.stepperContainer {
  width: 55vw;
  margin: auto;
  margin-top: 10vh;
}

.radioContainer {
  display: flex;
}

.containerAddScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.paperName {
  margin-top: 2vh;
  font-size: 3em;
  width: 60vw;
  height: 3em;
  display: flex;
  align-content: center;
  justify-content: center;
}

.scoreTable {
  margin: auto;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  width: 80vw;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paperH4 {
  margin: 1em;
  font-size: .75em;
}

.stepperButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stepperButton {
  font-family: 'Quicksand',
  sans-serif;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 10em;
  height: 3em;
  border-radius: 1em;
  font-size: 1em;
}

.cardButton {
  height: 6vh;
  width: 12vw;
  font-size: 2em;
  border-color: #FFA000;
  border-radius: .5em;
  margin: .5em;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)
{
  body {
    align-items: center;
    justify-content: center;
  }

  .containerAddScore {
    margin: auto;
    margin-top: 4em;
  }

  .stepperButtonContainer {
    margin-top: 1em;
    flex-direction: column;
  }

  .stepperButton {
    display: flex;
    text-decoration: none;
    font-size: 5em;
    width: 60vw;
    height: 10vh;
    border-radius: .25em;
    margin: .5em;
  }

  .navBar {
    width: 100vw;
  }

  .googleLogin {
    font-size: .5em;
  }

  .logout {
    font-size: .5em;
  }

  .editInput {
    font-size: 4em;
    width: 50vw;
    height: 10vh;
  }

  .editLabel {
    font-size: 4em;
  }

  .paperName {
    margin-top: 2vh;
    font-size: 3em;
    width: 80vw;
    height: 10vh;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  .imageHolder {
    margin: .5em;
  }

  .homeImage {
    margin: .5em;
    width: 98vw;
    height: auto;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .scoreTable {
    width: 100vw;
  }
  
  .rulesHeader {
    align-items: center;
    font-size: 3em;
  }

  .scoreTable {
    margin-top: 3em;
  }

  .mobileCell {
    height: 10vh;
    font-size: 2em;
  }

  .paperContainer {
    width: 60vw;
    height: 12vh;
    font-size: 2em;
  }

  .radioContainer {
    font-size: 1em;
  }

  .radioButton {
    height: 3em;
    width: 3em;
  }

  .screen {
    width: 100vw;
    height: 100vh;
  }

  .homeButton {
    display: flex;
    text-decoration: none;
    font-size: 5em;
    width: 60vw;
    height: 10vh;
    border-radius: .5em;
  }

  .navBar {
    font-size: 3em;
    height: 10vh;
    width: 100vw;
  }

  .addContainer {
    justify-content: center;
    align-items: center;
  }

  .addScore {
    display: flex;
    flex-direction: row;
  }

  .stepper {
    display: none;
  }

  .playerSelect {
    font-size: 5em;
  }

  .numberOfPlayers {
    font-size: 3em;
  }

  .playerNameField {
    font-size: 5em;
    width: 60vw;
    height: 10vh;
    margin-top: .5em;
    border: 1px solid #FFA000;
  }

  .cardButton {
    height: 6vh;
    width: 18vw;
    font-size: 2em;
    border-color: #FFA000;
    border-radius: .5em;
    margin: .25em;
  }

}